.recipe_title,
.recipe {
  background-color: #fff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.recipe_title {
  margin-bottom: 20px;
  .title {
    font-size: 24px;
    margin: 0;
  }
  .user_name {
    font-size: 15px;
    margin: 0;
  }
}
ul {
  padding: 0;
  justify-content: space-between;
  margin-bottom: 50px;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px lightgray solid;
  }
}
.material_name {
  border: 2px lightgray solid;
  border-radius: 30%;
}
ol {
  padding-left: 25px;
  li {
    margin-bottom: 10px;
  }
}
